.body-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-color);
  height: calc(100vh - 59px);
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 59px;
  left: 0;
  right: 0;

  .left {
    flex: 2;
    position: sticky;
    top: 0;
    // overflow-y: scroll;
    overflow: hidden;

    // scrollbar-width: none;

    // &::-webkit-scrollbar {
    //   width: auto;
    // }

    &:hover {
      overflow-y: scroll;
    }
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #c0bdbd;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #a3a3a3;
    }

    .sidebar {
      ul {
        li {
          display: flex;
          align-items: center;
          font-size: 14px;
          padding: 4px 10px;
          margin: 10px;
          border-radius: 6px;

          &:nth-child(1) p {
            position: relative;
            top: 7px;
          }
          &:nth-child(2) span {
            background-position: 0 -296px;
          }
          &:nth-child(3) span {
            background-position: 0 -37px;
          }
          &:nth-child(4) span {
            background-position: 0 -522px;
          }
          &:nth-child(5) span {
            // background-position: center;
          }
          &:nth-child(6) span {
            background-position: 0px -411px;
          }
          &:nth-child(7) span {
            background-position: 0 -442px;
          }
          &:nth-child(8) span {
            background-position: 0 -187px;
          }
          &:nth-child(9) span {
            background-position: 0px;
          }
          &:nth-child(10) span {
            background-position: 0 -111px;
          }
          &:nth-child(11) p {
            position: relative;
            top: -5px;
          }

          &:hover {
            background-color: #e6e8ee;
          }

          p {
            margin-left: 10px;
          }
        }
        li span {
          background-size: auto;
          width: 36px;
          height: 36px;
          background-repeat: no-repeat;
          display: inline-block;
          font-size: 15px;
          position: relative;
          top: -6px;
        }
      }
    }
  }
  .middle {
    flex: 3;
    margin-top: 10px;
  }
  .right {
    flex: 2;
    position: sticky;
    top: 0;
    right: 0px;
    overflow-y: hidden;
    overflow-x: hidden;

    &:hover {
      overflow-y: scroll;
    }

    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #c0bdbd;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #a3a3a3;
    }

    .right-sidebar-wrapper {
      width: 80%;
      position: relative;
      right: -75px;
      top: 20px;
      // border: 2px salmon solid;
      // margin: 10px auto;

      .right-sidebar-content {
        .content-header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h4 {
            font-size: 17px;
            font-weight: 600;
            color: #66686c;
            margin-bottom: 10px;
          }
          .icons {
            position: relative;
            top: -6px;
          }
        }
        .sponsored {
          .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
            cursor: pointer;

            img {
              flex: 1;
              height: 110px;
              width: 120px;
              border-radius: 10px;
            }
            p {
              flex: 2;
              font-size: 14px;
              font-weight: 600;
            }
          }
        }

        .profiles {
          &:hover {
            background-color: #e6e6e6;
            border-radius: 6px;
          }
        }

        .promotion {
          margin-left: 10px;
          cursor: pointer;

          span {
            font-size: 14px;
            color: #75777b;
          }

          &:hover {
            background-color: #e6e6e6;
            border-radius: 6px;
          }
        }
        .birthdays {
          span {
            height: 28px;
            width: 40px;
            background-position: 0 0;
            background-size: 30px;
            background-repeat: no-repeat;
            display: inline-block;
          }
          p {
            width: 82%;
            margin-left: 10px;
            font-size: 15px;
            font-weight: 400;

            strong {
              font-weight: 600;
            }
          }
          &:hover {
            background-color: #e6e6e6;
            border-radius: 6px;
          }
        }
        .contacts {
          margin-top: 15px;
          ul {
            margin-top: 20px;
            li {
              padding: 5px 20px;
              margin: 5px 0;
              border-radius: 10px;
              cursor: pointer;
              p {
                margin-left: 3px;
                margin-top: 3px;
                font-size: 14px;
                font-weight: 550;
              }

              &:hover {
                background-color: #e6e6e6;
                border-radius: 6px;
              }
            }
          }
        }
      } //content-header
    }
  }
}
