.middle-content {
  position: fixed;
  background-color: var(--gray-color);
  // width: 60%;
  height: calc(100vh - 59px);
  left: 30%;
  overflow-y: scroll;
  top: 59px;
  padding: 15px 11.2% 0;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.left-content {
}
.wright-content {
}
